* {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-around;
}

header a{
    text-decoration: none;
    color: gray;
    font-family: 'Manrope', sans-serif;
}

header a:hover{
    color: white;
}

@media only screen and (max-width: 370px) {
    .hero-section {
        display: flex;
        font-family: 'Manrope', sans-serif;
        flex-direction: column;
        margin-top: 10px;
        align-items: center;
    }

    .wel-email {
        color: gray;
    }

    .search-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
    }

    .search-input {
        height: 25px;
        border-radius: 12px;
        border: 1px solid black;
        text-align: center;
    }

    .search-btn {
        background-color: white;
        border: none;
    }

    .search-icon {
        width: 20px;
        cursor: pointer;
    }

}