body {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 90%;
    color: black;
    margin-top: 5%;
    width: 70%;
    height: 60vh;
    border-radius: 20px;
    text-align: center;
    font-family: 'Manrope', sans-serif;
}

.login-header {
    padding: 10px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-header h1{
    font-weight: 500;
}

.login-header p{
    font-size: 15px;
}


.login-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
    font-weight: 200;
    align-items: center;
}

.login-container label {
    display: flex;
    gap: 5px;
}

.login-container .email-label {
    display: flex;
    gap: 55px;
}

.login-container .password-label {
    display: flex;
    gap: 30px;
}

.login-input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.login-container label img {
    width: 15px;
    justify-content: center;
    align-items: center;
}

.login-container input {
    border: 1px solid black;
    text-align: center;
    font-weight: 200;
    border-radius: 12px;
    color: black;
    height: 30px;
}

.login-container input:hover {
    background-color: black;
    color: white;
}

.login-container button {
    border-radius: 12px;
    width:fit-content;
    background-color: black;
    color: white;
    height: 30px;
    cursor: pointer;
    border: none;
}

.login-container button:hover {
    background-color: white;
    color: black;
}

.login-container p {
    font-size: 15px;
}

.login-container a{
    text-decoration: none;
    color: rgb(63, 63, 63);
}

@media only screen and (max-width: 370px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    main {
        width: 90%;
        color: black;
        margin-top: 15%;
        width: 70%;
        height: 60vh;
        border-radius: 20px;
        text-align: center;
        font-family: 'Manrope', sans-serif;
    }

    .login-header {
        padding: 10px;
        font-size: 15px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .login-header h1{
        font-weight: 300;
    }

    .login-header p{
        font-size: 10px;
    }


    .login-container {
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 20px;
        font-weight: 200;
        align-items: center;
    }

    .login-container label {
        display: flex;
        gap: 5px;
        flex-direction: column;
    }

    .login-input {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .login-container label img {
        width: 15px;
        justify-content: center;
        align-items: center;
    }

    .login-container input {
        border: 1px solid black;
        text-align: center;
        font-weight: 200;
        border-radius: 12px;
        color: black;
        height: 30px;
    }

    .login-container input:hover {
        background-color: black;
        color: white;
    }

    .login-container button {
        border-radius: 12px;
        width: 30%;
        background-color: black;
        color: white;
        height: 30px;
        cursor: pointer;
        border: none;
    }

    .login-container button:hover {
        background-color: white;
        color: black;
    }

    .login-container p {
        font-size: 10px;
    }

    .login-container a{
        text-decoration: none;
        color: rgb(63, 63, 63);
    }
}
