header {
    display: flex;
    justify-content: space-around;
}

header a{
    color: gray;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Manrope', sans-serif;
}

header a:hover {
    color: white;
}

* {
    font-family: 'Manrope', sans-serif;
}

@media only screen and (min-width: 371px) {
    .hero-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
        margin-top: 20px;
    }
    
    .hero-section h2 {
        margin-top: 15px;
        font-weight: 200;
    }
    
    .selection {
        display: flex;
        gap: 20px;
        justify-content: center;
    }
    
    .plan {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
    }
    
    .footer {
        display: flex;
        flex-direction: column;
    }
    
    .plan select{
        background-color: white;
        border: 1px solid black;
        border-radius: 12px;
        text-align: center;
        height: 30px;
    }
    
    .plan select:hover{
        background-color: black;
        color: white;
    }
    
    button {
        background-color: black;
        color: white;
        width: 20%;
        height: 30px;
        border-radius: 12px;
        border: none;
        cursor: pointer;
    }
    
    button:hover {
        background-color: white;
        color: black;
        border: 1px solid black;
    }
    .displayR {
        margin-top: 10px;
    }

    .results {
        display: flex;
        padding: 10px;
        gap: 10px;
        flex-direction: column;
    }

    .exercise-card {
        display: flex;
        flex-direction: column;
        border-radius: 12px;
        gap: 10px;
        align-items: center;
        background-color: black;
        color: white;
        padding: 10px;
    }

    .exercise-card h3 {
        margin-top: 10px;
        font-weight: 600;
        text-decoration: underline;
    }
    
}

@media only screen and (max-width: 370px) {
    .hero-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .hero-section h2 {
        margin-top: 15px;
        font-weight: 200;
    }

    .selection {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .plan {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
    }

    .plan select{
        background-color: white;
        border: 1px solid black;
        border-radius: 12px;
        text-align: center;
        height: 30px;
    }

    .plan select:hover{
        background-color: black;
        color: white;
    }

    button {
        background-color: black;
        color: white;
        width: 30%;
        height: 30px;
        border-radius: 12px;
        border: none;
        cursor: pointer;
    }

    button:hover {
        background-color: white;
        color: black;
        border: 1px solid black;
    }

    .displayR {
        margin-top: 10px;
    }

    .results {
        display: flex;
        gap: 10px;
        padding: 10px;
        flex-direction: column;
    }

    .exercise-card {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        background-color: black;
        border-radius: 12px;
        color: white;
        padding: 10px;
    }

    .exercise-card h3 {
        margin-top: 10px;
        font-weight: 600;
        text-decoration: underline;
    }

}